/* .phrase{
    margin: 5px;
    padding: 20px;
    border-radius: 7px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 160px;

    .button{
        border: none;
        background-color: coral;
        height: 25px;
        border-radius: 3px;
    }
} */